.visible {
  position: relative;
  animation: fade_in_show 0.25s;
  z-index: 2;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  position: absolute;
  /* is the transfor is not there, there is space occupied by the children that have position set other than absolute */
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: -2;
  /* same measure as mi hight dropdown class */
  top: var(--top-menu-height-mobile);
}

@media (min-width: 901px) {
  .hidden {
    top: var(--top-menu-height-desktop);
  }
}
