:root {
  --default-margin: 5px;
  --top-menu-height-mobile: 30px;
  --top-menu-height-desktop: 60px;
}
* {
  box-sizing: border-box;

  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background: #f0f0f0;
  margin-top: 16px;
  background-color: #eef1f9;
  display: flex;
  justify-content: center;
}
.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.page {
  display: grid;
  max-width: 600px;
  min-width: 312;
  width: 80vw;
}

.container-intro {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.intro-1 {
  margin-left: 15%;
}
.intro-2 {
  margin-left: 40%;
}

.presentation {
  margin-left: 15%;
}
.position {
  margin-left: 30%;
}
.myself-3 {
  text-align: center;
  font-weight: bold;
}

.image-developer {
  display: flex;
  justify-content: center;
}
.image-developer img {
  border-radius: 50%;
  width: 150px;
}

.flex-single-cell-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-single-cell-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more {
  text-align: center;
}
.flex-row {
  justify-self: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-row-icons {
  justify-self: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.footer-icon {
  width: 50px;
}

.icons {
  justify-content: space-around;
  width: 100%;
  position: absolute;
  padding: 40px;
  bottom: 0px;
  z-index: 1000;
  background-color: white;
}

@media (min-width: 900px) {
  body {
    font-size: 20px;
  }

  .page {
    min-width: 312;
    max-width: 1200px;
  }

  .container-intro {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
  }

  .image-developer {
    grid-column: 2;
    grid-row: 1 / span 4; /* Occupies rows 1 to 4 */
    justify-content: center;
    align-items: center;
  }

  .image-developer img {
    width: 250px;
    height: auto; /* Maintain aspect ratio */
  }
  .flex-row {
    width: 60%;
  }

  .flex-row-icons {
    width: 100%;
  }

  .icons {
    justify-content: space-evenly;
  }

  .intro-2 {
    margin-left: 15%;
  }

  .presentation {
    margin-left: 20%;
  }
  .footer-icon {
    width: 50px;
  }
}
