.flex-Container-alternative-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  text-align: center;
  text-overflow: wrap;
  width: 100%;
}

.swiper {
  width: 290px;
  height: 200px;
}

.menu-image {
  height: 150px;
  width: auto;
}

.centered {
  display: block;
  text-align: center;
  width: 100%;
}
.left {
  display: block;
  text-align: left;
  width: 100%;
}
.underline {
  text-decoration: underline;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.card-small {
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.skills-table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-table th,
.skills-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.skills-table th {
  background-color: #1a628b;
  color: white;
}

.skills-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (min-width: 900px) {
  .swiper {
    width: 870px;
    height: 400px;
  }
  .swiper-slide {
    height: 300px;
  }
  .menu-image {
    height: 320px;
    width: auto;
  }
}
